
<%-include('header')-%>

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between bg-dark-50">
  <a class="navbar-brand mx-3 " href="#">
   <strong> M H D T</strong>
  </a>
  <form action="/signout">
  <button  class=" bg-danger rounded-pill mx-3 border-0" type="submit">Signout</button>
  </form>
</nav>
<header class="masthead d-flex align-items-center">
  
</header>

<%-include('footer')-%>
